DB_HOST=localhost
DB_PORT=3306
DB_NAME=club_nautico
DB_USER=root
DB_PASSWORD=1234
MP_ACCESS_TOKEN=TEST-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-xxxxxx
FRONTEND_URL=http://localhost:123   
BACKEND_URL=http://localhost:123

#El sandbox de mercado pago es malisimo, por eso tenemos  2 opciones para testing.
#Evidentemente con urls de localhost no anda nada. Asi que:
#     1: tener frontend como url publica(con ngrok o similares) y backend en localhost. De esta manera las back_urls funcionan pero nunca entra al webhook.
# (Puse la funcion confirmarPagoMP para que no sea necesario el webhook para que actualice). Intente con el proxy de Vite para que de frontend vaya al backend y al webhook pero bueno ngrok o MP no tienen la capacidad de hacer todos esos saltos 

#     2: tener backend como url publica(con ngrok o similares) y frontend en localhost. De esta manera el webhook anda pero no hay manera de volver de la pantalla de pago exitoso(por el sandbox de mierd)
#     Mejor opcion: Tener tanto back como front publicas usando 2 tuneles diferentes (ej ngrok y clouflare) y ahi anda todo perfecto.

 #Ejecutar en tu terminal pnpm install para que se instale dotenv, crear archivo .env en tu vscode(mismo directorio que package.json) y
 #completar con tu informacion de tu mysql Workbench 